<div class="container">
  <div class="row justify-content-center align-items-center minh-100">
    <div class="col-md-12 col-lg-12 col-xs-12 ">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Usuario</th>
            <th scope="col">Correo</th>
            <th scope="col">Dirección</th>
            <th scope="col">Telefono</th>
            <th scope="col">Pagina Web</th>
            <th scope="col">Compañia</th>
            <th scope="col">Entrevista</th>
          </tr> 
        </thead>
        <tbody *ngFor="let scheduled of scheduleds">
          <tr class="pointer"  data-toggle="modal" data-target="#dateModal" (click)="getUser(user.id)">
            <th scope="row">{{scheduled.id}}</th>
            <td>{{scheduled.name}}</td>
            <td>{{scheduled.username}}</td>
            <td>{{scheduled.email}}</td>
            <td>{{scheduled.address}}</td>
            <td>{{scheduled.phone}}</td>
            <td>{{scheduled.website}}</td>
            <td>{{scheduled.company}}</td>
            <td>{{scheduled.inverview}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
