<div class="container">
  <div class="row justify-content-center align-items-center minh-100">
    <div class="col-md-12 col-lg-12 col-xs-12 ">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th  scope="col">Id</th>
            <th scope="col">Tecnología</th>
          </tr> 
        </thead>
        <tbody *ngFor="let technologie of technologies ">
          <tr class="pointer" routerLink="/users/{{technologie.order}}">
            <th scope="row">{{technologie.order}}</th>
            <td>{{technologie.name}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>